LOCUST_HOST=http://localhost:8000

LOCUST_USERS=30
LOCUST_SPAWN_RATE=5
LOCUST_RUN_TIME=2m

LOCUST_TEST_EMAIL=user@example.com
LOCUST_TEST_PASSWORD=yourpassword

LOCUST_MAX_AVG_RESPONSE_SEC=7
LOCUST_MAX_FAIL_RATIO=0
